
.main-body-accordion {
	margin: 3rem auto;
	min-width: 30rem;
	width: 60%;
}

ul {
	display: flex;
}

.main-body-accordion-li {
	background-color: #F2F2F2;
	border-bottom: 1.5px solid #D1D2D3;
	flex-grow: 1;
	padding: .5rem 0;
	text-align: center;
}

a {
	color: #666666;
	font-size: .75rem;
	font-weight: 300;
	text-decoration: none;
}

.active-tab-li { 
	background-color: #FFFFFF;
	border: 1.5px solid #D1D2D3;
	border-bottom: 0;
	font-weight: 600;
}

.main-body-accordion li {
	cursor: pointer;
	display: inline;
}

.main-body-accordion-tab {
	border: 1.5px solid #D1D2D3;
	border-top: 0;
	display: none;
	padding: 2rem;
}

.main-body-accordion h3 {
	font-weight: 700;
}

.main-body-accordion p {
	line-height: 1.5;
	margin: 1rem 0;
}

.active-tab-content {
	display: block;
}