
.main-body-accordion {
	margin: 3rem auto;
	max-width: 50rem;
	min-width: 30rem;
	width: 90%;
}

ul {
	display: flex;
}

.main-body-accordion-li {
	background-color: #F2F2F2;
	border-bottom: 1.5px solid #D1D2D3;
	flex-grow: 1;
	padding: .5rem 0;
	text-align: center;
}

a {
	color: #666666;
	font-size: .75rem;
	font-weight: 300;
	text-decoration: none;
}

.active-tab-li { 
	background-color: #FFFFFF;
	border: 1.5px solid #D1D2D3;
	border-bottom: 0;
	font-weight: 600;
}

.main-body-accordion li {
	cursor: pointer;
	display: inline;
}

.main-body-accordion-tab {
	border: 1.5px solid #D1D2D3;
	border-top: 0;
	display: none;
	padding: 2rem;
}

.active-tab-content {
	display: grid;
	grid-gap: 5%;
	grid-template-columns: 30% 65%;
}

.accordion-tab-image{
	border: .1rem solid #D1D2D3;
	grid-column: 1;
	height: 200px;
	object-fit: fill;
	width: 100%;
}

.accordion-tab-content {
	grid-column: 2;
}

.main-body-accordion h3 {
	font-weight: 700;
}

.main-body-accordion p {
	font-size: .75rem;
	line-height: 1.5;
	margin: 1rem 0;
}

@media only screen and (max-width: 650px) {

	.main-body-accordion li {
		text-align: left;
		padding: .5rem 2rem;
	}

	.active-tab-content {
		text-align: left;
		display: block;
	}

	.accordion-tab-image{
			margin-bottom: 2rem;
	}
			
}

@media only screen and (max-width: 500px) {

	ul {
		flex-direction: column;
	}

	.main-body-accordion {
		min-width: 0;
		width: 90%;
	}
			
}
